<div class="container">
<div>
  {{#each story}}
  {{> stories/story-block}}
  {{/each}}
</div>

<form>
  {{!-- <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">{{isRated}}</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="radioVeryBad" value="option1">
          <label class="form-check-label" for="gridRadios1">
            Very Bad
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="radioBad" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Bad
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="radioNeutral" value="option3" checked>
          <label class="form-check-label" for="gridRadios3">
            Neutral
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="radioGood" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Good
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="radioExcellent" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Excellent!!
          </label>
        </div>
      </div>
    </div>
  </fieldset> --}}
  <div class="form-group">
    <label for="commentForm">Comments:</label>
    <textarea class="form-control" id="commentForm" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary" id="commentBtn">Submit</button>
</form>

</div>

 <script type="text/javascript" src="../js/comment.js" ></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>