<form id="signup" name="signup" method="post" action="/signup">
    <label for="firstName">First Name</label>
    <input name="firstName" type="text" />
    <label for="lastName">Last Name</label>
    <input name="lastName" type="text" />
    <label for="username">Username</label>
    <input class="text" name="username" type="username" />
    <label for="email">Email Address</label>
    <input class="text" name="email" type="email" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn btn-primary" type="submit" value="Sign Up" />
</form>