<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <form class="form-inline float-right" id="signin" name="signin" method="post" action="signin">
                <label for="email">Email </label>
                <input class=" signinInput text form-control" name="email" type="text" />
                <label for="password">Password </label>
                <input class=" signinInput form-control" name="password" type="password" />
                <input class="btn btn-outline-secondary" type="submit" value="Sign In" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="welcome">
                WELCOME TO WISDOM THREADS
            </h1>
            <p class="welcome-small">
                Share your experiences with the world. Learn from the stories of others. Connect.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="d-block mx-auto img-fluid" src="https://pngimg.com/uploads/owl/owl_PNG10.png" alt="wise owl">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="join-here  text-center">
                Not a member? <a class="signup-link" href="./signup">Join here!</a>
            </p>
        </div>
    </div>
</div>